{% extends 'base.html' %}
{% block content%}
{% load static %}
 <!-- Banner Area -->   
    <section id="S0" class="banner_area" id="parallax">   
       <img src="{% static "images/bannar-shap-1.png" %}" alt="" class="layer layer_1" data-depth="0.10">
       <img src="{% static "images/bannar-shap-2.png" %}" alt="" class="layer layer_2" data-depth="0.35">
        <div class="container">
                
            <h2 class="wow fadeInUp">Financini ?</h2>
            <br><br>
            <p class="wow fadeInUp" data-wow-delay="0.3s">Financini is a credit scoring platform <br> 
            not only built to speed up the long traditional process <br>
            and save your time <br>also because we respect your future projects
            </p>
            <a href="{% url 'mlform' %}" class="theme_btn wow fadeInUp" data-wow-delay="0.5s">Get Started</a> 
            <img src="{% static "images/bannar-img.png" %}" alt="" class="bannar_img wow fadeInRight">
        </div> 
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </section>
{% endblock %}