{% extends 'base.html' %}
{% block content%}
{% load static %}
 <!-- Banner Area -->   
    <section id="S0" class="banner_area" id="parallax">   
       <img src="{% static "images/bannar-shap-1.png" %}" alt="" class="layer layer_1" data-depth="0.10">
       <img src="{% static "images/bannar-shap-2.png" %}" alt="" class="layer layer_2" data-depth="0.35">
        <div class="container">
                
            <h2 class="wow fadeInUp">Financini ?</h2>
            <br><br>
            <p class="wow fadeInUp" data-wow-delay="0.3s">Financini is a credit scoring platform <br> 
            not only built to speed up the long traditional process <br>
            but also to save your time <br>be cause we respect your future projects
            </p>
            <a href="#" class="theme_btn wow fadeInUp" data-wow-delay="0.5s">Get Started</a> 
            <img src="{% static "images/bannar-img.png" %}" alt="" class="bannar_img wow fadeInRight">
        </div> 
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </section>
    <!-- End Banner Area -->  
    
    <!-- Fantasy Area -->   
    <section class="fantasy_area"> 
        <div class="row fantasy_inner">
            <div class="col-xl-5 col-lg-12 fantasy_tittle">
                <h4>Our Skills</h4>
                <h2>We are insane developers who think out of the box</ins></h2>
            </div>
            <div class="col-xl-7 col-lg-12 row fantasy_items"> 
                <div class="col-md-12 wow fadeIn">
                    <div class="fantasy">  
                        <span class="icons"><i class="far fa-star"></i></span>
                        <a href="#">Development & IT</a>
                        <p>Every product must make a statement and we’re ready to create it with holistic approach to design.</p>
                        <div class="row">
                                <div class="col-sm-6">
                                        <ul class="fantasy_list">
                                                <li>Web &amp; Chatbot</li>
                                                <li>Mobile &amp; VR/AR </li>
                                                <li>IoT &amp; Embedded Systems</li> 
                                            </ul>
                                </div>
                                <div class="col-sm-6">
                                        <ul class="fantasy_list">
                                                <li>Desktop Applications</li>
                                                <li>IT Architecture</li>
                                                <li>Security</li> 
                                           
                                         </ul>
                                </div>
                        </div>
                    </div>
                </div>
      
            </div>
        </div>
    </section>
    <!-- Fantasy Area -->  
     
    <!-- Countarup Area -->  
    <section class="countarup_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="countraup_item mt">
                        <h4>Clients</h4>
                        <h3><b class="counter">5</b></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="countraup_item">
                        <h4>Projects Done</h4>
                        <h3><b class="counter">8</b></h3>   
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="countraup_item mt_2">
                        <h4>Daily Coffees</h4>
                        <h3><b></b><b class="counter">20</b>+</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="countraup_item mt_3">
                        <h4>Daily Lollipops</h4>
                        <h3><b class="counter">13</b>+</h3>
                    </div>
                </div> 
                <h5 class="col-lg-5 col-md-4 col-sm-6"><span><b class="counter">100</b>+</span> MEETINGS</h5>
                <h5 class="col-lg-2 col-md-4 col-sm-6"><span><b class="counter">150</b>+</span> COMMITS</h5>
                <h5 class="col-lg-5 col-md-4 col-sm-6"><span><b class="counter">3</b></span> USER STORIES</h5>
            </div>
        </div>
    </section>
    <!-- End Countarup Area -->  
    
    <!-- About the Agency Area -->  
    <section id="S1" class="about_agency_area">
       <div class="round_shap"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 agency_contant">
                    <div class="icons"> <i class="fas fa-users"></i></div>
                    <h4>Our Team</h4>
                    <h2>In 3 words :<br>Creativity, Innovation, TeamWork</h2>
                    <p>Our team is composed of members with different talents and multiple backgrounds that complement
                            each other in perfect harmony. We are known in our school for our creativity, assiduity and
                            productivity, which has made us ones of the first among our grade.</p>
                    <!---<a href="#" class="theme_btn">Read Success Story</a>-->
                </div>
                <div class="col-lg-6">
                    <img src="{% static "images/about-agency.png" %}" alt=""> 
                </div>
            </div>
        </div>
    </section>
    <!-- End About the Agency Area --> 
    
    <!-- Fantasy Area -->   
    <section id ="S2" class="fantasy_area fa_2"> 
        <div class="row fantasy_inner">
            <div class="col-xl-5 col-lg-12 fantasy_tittle">
                <h4>OUR SERVICES</h4>
                <h2>We strive to fully satisfy our customers</h2>

            </div>
            <div class="col-xl-7 col-lg-12 row fantasy_items"> 
                <div class="col-md-6 wow fadeIn">
                    <div class="fantasy fantasy_4">  
                        <span class="icons"><i class="fas fa-globe"></i></span>
                        <a>Web Development</a>
                         </div>
                </div>
                
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.3s">
                    <div class="fantasy fantasy_2">  
                        <span class="icons"><i class="fas fa-mobile"></i></span>
                        <a>Mobile Applications</a>
                       </div>
                </div> 
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.3s">
                    <div class="fantasy">  
                        <span class="icons"><i class="fas fa-desktop"></i></span>
                        <a>Desktop Applications</a>
                   </div>
                </div> 
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.3s">
                    <div class="fantasy fantasy_2">  
                        <span class="icons"><i class="fas fa-wifi"></i></span>
                        <a>IoT Solutions</a>
                         </div>
                </div> 
            </div>
        </div>
    </section>
    <!-- Fantasy Area -->  
      
    <!-- Team Area -->  
    <section class="team_area">
            <div class="row">
                <div class="col-lg-2 col-sm-8 team_items"> 
                    <a href="#"><img src="{% static "images/team-1.png" %}" alt=""></a>
                    <a href="#" class="heding">Amel Khelifa<h6>Frontend Web Developer</h6></a>
                </div>
                <div class="col-lg-2 col-sm-8 team_items">
                    <a href="#"><img src="{% static "images/team-2.png" %}" alt=""></a>
                    <a href="#" class="heding">Wajih Mejri<h6>Full Stack Developer</h6></a>
                </div>
                <div class="col-lg-2 col-sm-8 team_items">
                    <a href="#"><img src="{% static "images/team-3.png" %}" alt=""></a>
                    <a href="#" class="heding">Bessem Bousselmi<h6>IoT Developer</h6></a>
                </div>
                <div class="col-lg-2 col-sm-8 team_items">
                    <a href="#"><img src="{% static "images/team-4.png" %}"  alt=""></a>
                    <a href="#" class="heding">Yosri Kossontini<h6>Software Developer</h6></a>
                </div>
              <div class="col-lg-2 col-sm-8 team_items">
                    <a href="#"><img src="{% static "images/team-5.png" %}" alt=""></a>
                    <a href="#" class="heding">Firas Soltani<h6>Mobile Developer</h6></a>
                </div>
                <div class="col-lg-2 col-sm-8 team_items">
                        <a href="#"><img src="{% static "images/team-6.png" %}" alt=""></a>
                        <a href="#" class="heding">Nourchene Saidi<h6>Backend Developer</h6></a>
                    </div>
                
            </div>
        </section>
        <!-- End Team Area -->  
        
    <!-- Contact Us Area --> 
    <section id="S3" class="contact_us">
        <div class="container">
            <div class="contact_inner">
                <h2>We are waiting eagerly for your feedback and requests</h2>
                <p>If you have any questions do not hesitate to contact us</p>
                <a href="contact.html" class="theme_btn">Contact us</a>
            </div>
        </div>
    </section> 
    <!-- End Contact Us Area -->  
    
    <!-- Footer Area -->  
    <footer class="footer_area"> 
        <img src="{% static "images/footer-shap.png" %}" alt="" class="shap">
        <div class="round_shap"></div>
        <div class="footer_inner row">   
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 footer_logo wow fadeIn">
                <a href="index.html"><img src="{% static "images/logo.png" %}" alt=""></a> 
               <br>
                <br>
                <ul class="footer_menu"> 
                    <li><a href="#">CAREERS</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                    <li><a href="#">PRIVACY</a></li>
                </ul>
                <ul class="footer_social"> 
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>

                </ul>
            </div>
            <div class="footer_widget fw_2 col-xl-2 col-lg-3 col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                <h4>Information</h4>
                <address>
                        Cité Technologique des communications
                        <br>Route de Raoued Km 3.5 2088 Ariana – Bloc B31
                    <a href="mailto:Contact@olympians.ovh" class="email">Contact@olympians.ovh</a>
                    <a href="#" class="phone">(+216) 58 557 726</a>
                    <a href="#" class="phone">(+216) 27 404 402</a>
                    
                </address>
            </div>   
            <div class="footer_widget fw_3 col-xl-3 col-lg-3 col-md-4 col-sm-6 wow fadeIn" data-wow-delay="0.6s">
                <h4>Stay In  Loop</h4>
                <p>Subscribe to receive biweekly tips on creative automation and digital advertising!</p>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="What’s Your email">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-caret-right"></i></span>
                        
                    </div>
                </div>
            </div>   
            <div class="footer_widget fw_4 col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeIn" data-wow-delay="0.8s">
                <h4>Location</h4>
                <div class="mapouter"><div class="gmap_canvas"><iframe width="350" height="200" id="gmap_canvas" src="https://maps.google.com/maps?q=FABLAB%20CIFODE'COM&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.crocothemes.net"></a></div><style>.mapouter{text-align:right;height:200px;width:350px;}.gmap_canvas {overflow:hidden;background:none!important;height:200px;width:350px;}</style></div>
            </div>   
        </div> 
        <p class="copy_right" >Made with &#x2764; by Olympians Development Team</p>
        <p class="copy_right">© 2019 All rights reserved, Olympians</p>
    </footer>
    <!-- End Footer Area --> 
    
    <!-- Scroll Top Button -->
    <button class="scroll-top">
        <i class="fa fa-angle-double-up"></i>
    </button>
    
    <!-- Preloader -->  
    <div class="preloader"></div>
{% endblock %}