{% extends 'base.html' %}
{% block content%}
{% load static %}
<section id="S0" class="banner_area" id="parallax">   
    <div class="container">      
        <div class="row">
                <h2 class="wow fadeInUp">Analytics</h2>
                <br><br>
                    <iframe 
                        width="1140" 
                        height="541.25" 
                        src="https://app.powerbi.com/reportEmbed?reportId=de820138-2333-455f-8095-e3c08968125c&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" 
                        frameborder="0" 
                        allowFullScreen="true">
                    </iframe>
        </div>
    </div>
    </section>
{% endblock %}